
<%- include('./partials/menu.ejs') %>

<div class="container mt-5">

  <form class="input-group mb-3" action="/products" method="get">
    <input type="text" name="q" value="<%= q %>" class="form-control" placeholder="Search product..." aria-label="Write search query..." aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
  </form>

  
  <div class="dropdown mb-3">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sortingDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Sort By: <%= sortField ? sortField.charAt(0).toUpperCase() + sortField.slice(1) : 'Select' %>
      <%= sortField && sortOrder ? (sortOrder === 'asc' ? ' ▲' : ' ▼') : '' %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sortingDropdown">
      <li>
        <a class="dropdown-item" href="<%= buildQueryLink({ sort: 'title', order: sortField === 'title' && sortOrder === 'asc' ? 'desc' : 'asc' }) %>">
          Title <%= sortField === 'title' ? (sortOrder === 'asc' ? '▲' : '▼') : '' %>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="<%= buildQueryLink({ sort: 'price', order: sortField === 'price' && sortOrder === 'asc' ? 'desc' : 'asc' }) %>">
          Price <%= sortField === 'price' ? (sortOrder === 'asc' ? '▲' : '▼') : '' %>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="<%= buildQueryLink({ sort: 'description', order: sortField === 'description' && sortOrder === 'asc' ? 'desc' : 'asc' }) %>">
          Description <%= sortField === 'description' ? (sortOrder === 'asc' ? '▲' : '▼') : '' %>
        </a>
      </li>
    </ul>
  </div>

  <div class="row">
    <% for (let index = 0; index < products.length; index++) { %>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src="<%= products[index].picture || '/assets/bill-icon.png' %>" class="card-img-top" alt="<%= products[index].title %>">
          <div class="card-body">
            <h5 class="card-title"><%= products[index].title %></h5>
            <p class="card-text">$<%= products[index].price %></p>
            <p class="card-text"><%= products[index].description %></p>
            <div class="d-flex justify-content-between">
 
              <form action="/cart/add" method="POST" class="d-inline">
                <input type="hidden" name="productId" value="<%= products[index]._id %>">
                <button type="submit" class="btn btn-success btn-sm">Add to Cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>

  <div class="mb-5">
    <div class="text-center mt-2 mb-3">
      Page <%= page %> of <%= totalPages %>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item <%= page == 1 ? 'disabled' : '' %>">
          <a class="page-link" href="<%= buildQueryLink({ page: Number(page) - 1 }) %>">Previous</a>
        </li>
        <% for (let index = 1; index <= totalPages; index++) { %>
          <li class="page-item <%= page == index ? 'disabled' : '' %>">
            <a class="page-link" href="<%= buildQueryLink({ page: index }) %>"><%= index %></a>
          </li>
        <% } %>
        <li class="page-item <%= page == totalPages ? 'disabled' : '' %>">
          <a class="page-link" href="<%= buildQueryLink({ page: Number(page) + 1 }) %>">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<%- include('./partials/footer.ejs') %>